.animate-fadeIn {
    animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.apply-contact-btn {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 24px 0 rgba(59, 130, 246, 0.12);
}